.pic {
  background-attachment: fixed;
  width: 100%;
}

.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
  justify-items: center;
}

.grid-container {
  display: grid;
  grid-template-areas: "menu menu menu main main main";
  gap: 20px;
  background: linear-gradient(to right, #00093c, #2d0b00);
  padding: 10px;
  max-height: 40vw;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 2vw;
  color: #ffffff;
}
.image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.image img {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  border: 10px solid white;
}

.insta {
  background: linear-gradient(to right, #fccc63, #e95950);
  display: grid;
  justify-content: center;
  text-align: center;
}
.insta h1 {
  color: #ffffff;
  max-width: 540px;
  /* border: 5px solid purple; */
  border-radius: 10px;
}
hr{
  background-color: #8a3ab9;
  height: 3px;
  border: none;
  
  
}